<!doctype html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize/css/materialize.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="css/materialize/css/style.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Titre</title>
</head>

<body class="grey lighten-3">

<!--Bandeau sup -->
<div class="navbar-fixed">
<nav>
    <div class="nav-wrapper row red darken-1">
        <a href="/" class="brand-logo">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#"><i class="material-icons">search</i></a></li>
            <li><a href="/signin">Connexion</a></li>
            <li><a href="/signup">Inscription</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/">Accueil</a></li>
            <li><a href="#">Rechercher</a></li>
            <li><a href="/signin">Connexion</a></li>
            <li><a href="/signup">Inscription</a></li>
        </ul>
    </div>
</nav>
</div>
<main>