<div class="container">
    <div class="row"></div>
	
    <div class="row sous-titre">
        <div class="card-panel col s12 m12 ">
            <h5><i class="material-icons red-text">whatshot</i> Tendances</h5>
        </div>
    </div>
    <div class="row">
		<div class="col s12 m6 l3">
			<div class="card sticky-action medium">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="https://image.tmdb.org/t/p/original/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg">
				</div>
				<div class="card-content">
					<span class="card-title activator">Breaking Bad<i class="material-icons right">more_vert</i></span>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Breaking Bad<i class="material-icons right">close</i></span>
					<p>Breaking Bad is an American crime drama television series created and produced by Vince Gilligan. Set and produced in Albuquerque, New Mexico, Breaking Bad is the story of Walter White, a struggling high school chemistry teacher who is diagnosed with inoperable lung cancer at the beginning of the series. He turns to a life of crime, producing and selling methamphetamine, in order to secure his family's financial future before he dies, teaming with his former student, Jesse Pinkman. Heavily serialized, the series is known for positioning its characters in seemingly inextricable corners and has been labeled a contemporary western by its creator.</p>
				</div>
				<div class="card-action">
					<a href="/show"><span class="red-text text-darken-1">Explorer</span></a>
					<a class="waves-effect waves-light btn red darken-1"><i class="material-icons left">add</i>Ajouter</a>
				</div>
			</div>
		</div>
		
        <div class="col s12 m6 l3">
			<div class="card sticky-action medium">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="https://image.tmdb.org/t/p/original/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg">
				</div>
				<div class="card-content">
					<span class="card-title activator">Breaking Bad<i class="material-icons right">more_vert</i></span>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Breaking Bad<i class="material-icons right">close</i></span>
					<p>Breaking Bad is an American crime drama television series created and produced by Vince Gilligan. Set and produced in Albuquerque, New Mexico, Breaking Bad is the story of Walter White, a struggling high school chemistry teacher who is diagnosed with inoperable lung cancer at the beginning of the series. He turns to a life of crime, producing and selling methamphetamine, in order to secure his family's financial future before he dies, teaming with his former student, Jesse Pinkman. Heavily serialized, the series is known for positioning its characters in seemingly inextricable corners and has been labeled a contemporary western by its creator.</p>
				</div>
				<div class="card-action">
					<a href="/show"><span class="red-text text-darken-1">Explorer</span></a>
					<a class="waves-effect waves-light btn red darken-1"><i class="material-icons left">add</i>Ajouter</a>
				</div>
			</div>
		</div>

        <div class="col s12 m6 l3">
			<div class="card sticky-action medium">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="https://image.tmdb.org/t/p/original/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg">
				</div>
				<div class="card-content">
					<span class="card-title activator">Breaking Bad<i class="material-icons right">more_vert</i></span>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Breaking Bad<i class="material-icons right">close</i></span>
					<p>Breaking Bad is an American crime drama television series created and produced by Vince Gilligan. Set and produced in Albuquerque, New Mexico, Breaking Bad is the story of Walter White, a struggling high school chemistry teacher who is diagnosed with inoperable lung cancer at the beginning of the series. He turns to a life of crime, producing and selling methamphetamine, in order to secure his family's financial future before he dies, teaming with his former student, Jesse Pinkman. Heavily serialized, the series is known for positioning its characters in seemingly inextricable corners and has been labeled a contemporary western by its creator.</p>
				</div>
				<div class="card-action">
					<a href="/show"><span class="red-text text-darken-1">Explorer</span></a>
					<a class="waves-effect waves-light btn red darken-1"><i class="material-icons left">add</i>Ajouter</a>
				</div>
			</div>
		</div>

        <div class="col s12 m6 l3">
			<div class="card sticky-action medium">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="https://image.tmdb.org/t/p/original/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg">
				</div>
				<div class="card-content">
					<span class="card-title activator">Breaking Bad<i class="material-icons right">more_vert</i></span>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Breaking Bad<i class="material-icons right">close</i></span>
					<p>Breaking Bad is an American crime drama television series created and produced by Vince Gilligan. Set and produced in Albuquerque, New Mexico, Breaking Bad is the story of Walter White, a struggling high school chemistry teacher who is diagnosed with inoperable lung cancer at the beginning of the series. He turns to a life of crime, producing and selling methamphetamine, in order to secure his family's financial future before he dies, teaming with his former student, Jesse Pinkman. Heavily serialized, the series is known for positioning its characters in seemingly inextricable corners and has been labeled a contemporary western by its creator.</p>
				</div>
				<div class="card-action">
					<a href="/show"><span class="red-text text-darken-1">Explorer</span></a>
					<a class="waves-effect waves-light btn red darken-1"><i class="material-icons left">add</i>Ajouter</a>
				</div>
			</div>
		</div>		
    </div>

    <div class="row sous-titre">
        <div class="card-panel col s12 m12 ">
            <h5><i class="material-icons red-text">new_releases</i> Nouveautés</h5>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l3">
			<div class="card sticky-action medium">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="https://image.tmdb.org/t/p/original/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg">
				</div>
				<div class="card-content">
					<span class="card-title activator">Breaking Bad<i class="material-icons right">more_vert</i></span>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Breaking Bad<i class="material-icons right">close</i></span>
					<p>Breaking Bad is an American crime drama television series created and produced by Vince Gilligan. Set and produced in Albuquerque, New Mexico, Breaking Bad is the story of Walter White, a struggling high school chemistry teacher who is diagnosed with inoperable lung cancer at the beginning of the series. He turns to a life of crime, producing and selling methamphetamine, in order to secure his family's financial future before he dies, teaming with his former student, Jesse Pinkman. Heavily serialized, the series is known for positioning its characters in seemingly inextricable corners and has been labeled a contemporary western by its creator.</p>
				</div>
				<div class="card-action">
					<a href="/show"><span class="red-text text-darken-1">Explorer</span></a>
					<a class="waves-effect waves-light btn red darken-1"><i class="material-icons left">add</i>Ajouter</a>
				</div>
			</div>
		</div>

        <div class="col s12 m6 l3">
			<div class="card sticky-action medium">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="https://image.tmdb.org/t/p/original/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg">
				</div>
				<div class="card-content">
					<span class="card-title activator">Breaking Bad<i class="material-icons right">more_vert</i></span>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Breaking Bad<i class="material-icons right">close</i></span>
					<p>Breaking Bad is an American crime drama television series created and produced by Vince Gilligan. Set and produced in Albuquerque, New Mexico, Breaking Bad is the story of Walter White, a struggling high school chemistry teacher who is diagnosed with inoperable lung cancer at the beginning of the series. He turns to a life of crime, producing and selling methamphetamine, in order to secure his family's financial future before he dies, teaming with his former student, Jesse Pinkman. Heavily serialized, the series is known for positioning its characters in seemingly inextricable corners and has been labeled a contemporary western by its creator.</p>
				</div>
				<div class="card-action">
					<a href="/show"><span class="red-text text-darken-1">Explorer</span></a>
					<a class="waves-effect waves-light btn red darken-1"><i class="material-icons left">add</i>Ajouter</a>
				</div>
			</div>
		</div>

        <div class="col s12 m6 l3">
			<div class="card sticky-action medium">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="https://image.tmdb.org/t/p/original/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg">
				</div>
				<div class="card-content">
					<span class="card-title activator">Breaking Bad<i class="material-icons right">more_vert</i></span>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Breaking Bad<i class="material-icons right">close</i></span>
					<p>Breaking Bad is an American crime drama television series created and produced by Vince Gilligan. Set and produced in Albuquerque, New Mexico, Breaking Bad is the story of Walter White, a struggling high school chemistry teacher who is diagnosed with inoperable lung cancer at the beginning of the series. He turns to a life of crime, producing and selling methamphetamine, in order to secure his family's financial future before he dies, teaming with his former student, Jesse Pinkman. Heavily serialized, the series is known for positioning its characters in seemingly inextricable corners and has been labeled a contemporary western by its creator.</p>
				</div>
				<div class="card-action">
					<a href="/show"><span class="red-text text-darken-1">Explorer</span></a>
					<a class="waves-effect waves-light btn red darken-1"><i class="material-icons left">add</i>Ajouter</a>
				</div>
			</div>
		</div>
		
        <div class="col s12 m6 l3">
			<div class="card sticky-action medium">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="https://image.tmdb.org/t/p/original/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg">
				</div>
				<div class="card-content">
					<span class="card-title activator">Breaking Bad<i class="material-icons right">more_vert</i></span>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Breaking Bad<i class="material-icons right">close</i></span>
					<p>Breaking Bad is an American crime drama television series created and produced by Vince Gilligan. Set and produced in Albuquerque, New Mexico, Breaking Bad is the story of Walter White, a struggling high school chemistry teacher who is diagnosed with inoperable lung cancer at the beginning of the series. He turns to a life of crime, producing and selling methamphetamine, in order to secure his family's financial future before he dies, teaming with his former student, Jesse Pinkman. Heavily serialized, the series is known for positioning its characters in seemingly inextricable corners and has been labeled a contemporary western by its creator.</p>
				</div>
				<div class="card-action">
					<a href="/show"><span class="red-text text-darken-1">Explorer</span></a>
					<a class="waves-effect waves-light btn red darken-1"><i class="material-icons left">add</i>Ajouter</a>
				</div>
			</div>
		</div>
    </div>

    <div class="row sous-titre">
        <div class="card-panel col s12 m12 ">
            <h5><i class="material-icons red-text">subscriptions</i> Recommandations</h5>
        </div>
    </div>
    <div class="row">

        <div class="col s12 m6 l3">
			<div class="card sticky-action medium">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="https://image.tmdb.org/t/p/original/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg">
				</div>
				<div class="card-content">
					<span class="card-title activator">Breaking Bad<i class="material-icons right">more_vert</i></span>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Breaking Bad<i class="material-icons right">close</i></span>
					<p>Breaking Bad is an American crime drama television series created and produced by Vince Gilligan. Set and produced in Albuquerque, New Mexico, Breaking Bad is the story of Walter White, a struggling high school chemistry teacher who is diagnosed with inoperable lung cancer at the beginning of the series. He turns to a life of crime, producing and selling methamphetamine, in order to secure his family's financial future before he dies, teaming with his former student, Jesse Pinkman. Heavily serialized, the series is known for positioning its characters in seemingly inextricable corners and has been labeled a contemporary western by its creator.</p>
				</div>
				<div class="card-action">
					<a href="/show"><span class="red-text text-darken-1">Explorer</span></a>
					<a class="waves-effect waves-light btn red darken-1"><i class="material-icons left">add</i>Ajouter</a>
				</div>
			</div>
		</div>

        <div class="col s12 m6 l3">
			<div class="card sticky-action medium">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="https://image.tmdb.org/t/p/original/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg">
				</div>
				<div class="card-content">
					<span class="card-title activator">Breaking Bad<i class="material-icons right">more_vert</i></span>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Breaking Bad<i class="material-icons right">close</i></span>
					<p>Breaking Bad is an American crime drama television series created and produced by Vince Gilligan. Set and produced in Albuquerque, New Mexico, Breaking Bad is the story of Walter White, a struggling high school chemistry teacher who is diagnosed with inoperable lung cancer at the beginning of the series. He turns to a life of crime, producing and selling methamphetamine, in order to secure his family's financial future before he dies, teaming with his former student, Jesse Pinkman. Heavily serialized, the series is known for positioning its characters in seemingly inextricable corners and has been labeled a contemporary western by its creator.</p>
				</div>
				<div class="card-action">
					<a href="/show"><span class="red-text text-darken-1">Explorer</span></a>
					<a class="waves-effect waves-light btn red darken-1"><i class="material-icons left">add</i>Ajouter</a>
				</div>
			</div>
		</div>

        <div class="col s12 m6 l3">
			<div class="card sticky-action medium">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="https://image.tmdb.org/t/p/original/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg">
				</div>
				<div class="card-content">
					<span class="card-title activator">Breaking Bad<i class="material-icons right">more_vert</i></span>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Breaking Bad<i class="material-icons right">close</i></span>
					<p>Breaking Bad is an American crime drama television series created and produced by Vince Gilligan. Set and produced in Albuquerque, New Mexico, Breaking Bad is the story of Walter White, a struggling high school chemistry teacher who is diagnosed with inoperable lung cancer at the beginning of the series. He turns to a life of crime, producing and selling methamphetamine, in order to secure his family's financial future before he dies, teaming with his former student, Jesse Pinkman. Heavily serialized, the series is known for positioning its characters in seemingly inextricable corners and has been labeled a contemporary western by its creator.</p>
				</div>
				<div class="card-action">
					<a href="/show"><span class="red-text text-darken-1">Explorer</span></a>
					<a class="waves-effect waves-light btn red darken-1"><i class="material-icons left">add</i>Ajouter</a>
				</div>
			</div>
		</div>

        <div class="col s12 m6 l3">
			<div class="card sticky-action medium">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="https://image.tmdb.org/t/p/original/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg">
				</div>
				<div class="card-content">
					<span class="card-title activator">Breaking Bad<i class="material-icons right">more_vert</i></span>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Breaking Bad<i class="material-icons right">close</i></span>
					<p>Breaking Bad is an American crime drama television series created and produced by Vince Gilligan. Set and produced in Albuquerque, New Mexico, Breaking Bad is the story of Walter White, a struggling high school chemistry teacher who is diagnosed with inoperable lung cancer at the beginning of the series. He turns to a life of crime, producing and selling methamphetamine, in order to secure his family's financial future before he dies, teaming with his former student, Jesse Pinkman. Heavily serialized, the series is known for positioning its characters in seemingly inextricable corners and has been labeled a contemporary western by its creator.</p>
				</div>
				<div class="card-action">
					<a href="/show"><span class="red-text text-darken-1">Explorer</span></a>
					<a class="waves-effect waves-light btn red darken-1"><i class="material-icons left">add</i>Ajouter</a>
				</div>
			</div>
		</div>
    </div>
</div>