<div class="parallax-container">
    <div class="parallax"><img src="https://image.tmdb.org/t/p/original/eSzpy96DwBujGFj0xMbXBcGcfxX.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <div class="progress grey lighten-2">
            <div class="determinate red darken-1" style="width: 70%"></div>
        </div>
        <h2 class="header">Breaking Bad</h2>
        <p class="grey-text text-darken-3 lighten-3">Breaking Bad is an American crime drama television series created
            and produced by Vince Gilligan. Set and produced in Albuquerque, New Mexico, Breaking Bad is the story of
            Walter White, a struggling high school chemistry teacher who is diagnosed with inoperable lung cancer at the
            beginning of the series. He turns to a life of crime, producing and selling methamphetamine, in order to
            secure his family's financial future before he dies, teaming with his former student, Jesse Pinkman. Heavily
            serialized, the series is known for positioning its characters in seemingly inextricable corners and has
            been labeled a contemporary western by its creator.</p>

    </div>
</div>

<div class="row container section grey lighten-3">
    <div class="col s5">
        <div class="card horizontal">
            <div class="card-image valign-wrapper">
                <img clas="valign" src="https://image.tmdb.org/t/p/original/o5131POxv9xFl3wBmdg0YWc9Iz4.jpg">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h5 class="header">Saison 1</h5>
                    <p>High school chemistry teacher Walter White's life is suddenly transformed by a dire medical
                        diagnosis. Street-savvy former student Jesse Pinkman "teaches" Walter a new trade.</p>
                    <p>Date de diffusion : 2008-01-09</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col s7">
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">Episode 1 : Pilot<i
                            class="material-icons red-text darken-1 right">add</i></div>
                <div class="collapsible-body"><p class="white">When an unassuming high school chemistry teacher
                        discovers he has a rare form of lung cancer, he decides to team up with a former student and
                        create a top of the line crystal meth in a used RV, to provide for his family once he is
                        gone.</p></div>
            </li>
            <li>
                <div class="collapsible-header">Episode 2 : The Cat's in the Bag<i
                            class="material-icons red-text darken-1 right">close</i></div>
                <div class="collapsible-body"><p class="white">Walt and Jesse attempt to tie up loose ends. The
                        desperate situation gets more complicated with the flip of a coin. Walt's wife, Skyler, becomes
                        suspicious of Walt's strange behavior.</p></div>
            </li>
            <li>
                <div class="collapsible-header">Episode 3 : ...and the Bag's in the River<i
                            class="material-icons red-text darken-1 right">add</i></div>
                <div class="collapsible-body"><p class="white">Walter fights with Jesse over his drug use, causing him
                        to leave Walter alone with their captive, Krazy-8. Meanwhile, Hank has a scared straight moment
                        with Walter Jr. after his aunt discovers he has been smoking pot. Also, Skylar is upset when
                        Walter stays away from home.</p></div>
            </li>
            <li>
                <div class="collapsible-header">Episode 4 : Cancer Man<i class="material-icons red-text darken-1 right">close</i>
                </div>
                <div class="collapsible-body"><p class="white">Walter finally tells his family that he has been stricken
                        with cancer. Meanwhile, the DEA believes Albuquerque has a new, big time player to worry about.
                        Meanwhile, a worthy recipient is the target of a depressed Walter's anger, and Jesse makes a
                        surprise visit to his parents home.</p></div>
            </li>
            <li>
                <div class="collapsible-header">Episode 5 : Gray Matter<i
                            class="material-icons red-text darken-1 right">close</i></div>
                <div class="collapsible-body"><p class="white">Walter and Skyler attend a former colleague's party.
                        Jesse tries to free himself from the drugs, while Skyler organizes an intervention.</p></div>
            </li>
            <li>
                <div class="collapsible-header">Episode 6 : Crazy Handful of Nothin'<i
                            class="material-icons red-text darken-1 right">add</i></div>
                <div class="collapsible-body"><p class="white">The side effects of chemo begin to plague Walt.
                        Meanwhile, the DEA rounds up suspected dealers.</p></div>
            </li>
            <li>
                <div class="collapsible-header">Episode 7 : A No-Rough-Stuff Type Deal<i
                            class="material-icons red-text darken-1 right">add</i></div>
                <div class="collapsible-body"><p class="white">Walter accepts his new identity as a drug dealer after a
                        PTA meeting. Elsewhere, Jesse decides to put his aunt's house on the market and Skyler is the
                        recipient of a baby shower.</p></div>
            </li>
        </ul>
    </div>
</div>

<div class="row container section grey lighten-3">
    <div class="col s5">
        <div class="card horizontal">
            <div class="card-image valign-wrapper">
                <img class="valign" src="https://image.tmdb.org/t/p/original/7FwD7IuyHy6xl18LDIRxjl7vDbo.jpg">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h5 class="header">Saison 2</h5>
                    <p>In the second season, Walt must deal with the chain reaction of his choice, as he and Jesse face
                        new and severe consequences. When danger and suspicion around Walt escalate, he is pushed to new
                        levels of desperation. Just how much higher will the stakes rise? How far is Walt willing to go
                        to ensure his family's security? Will his grand plan spiral out of control?</p>
                    <p>Date de diffusion : 2009-03-08</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col s7">
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">Episode 1</div>
                <div class="collapsible-body"><p class="white">Lorem ipsum dolor sit amet.</p></div>
            </li>
            <li>
                <div class="collapsible-header">Episode 2</div>
                <div class="collapsible-body"><p class="white">Lorem ipsum dolor sit amet.</p></div>
            </li>
            <li>
                <div class="collapsible-header">Episode 3</div>
                <div class="collapsible-body"><p class="white">Lorem ipsum dolor sit amet.</p></div>
            </li>
            <li>
                <div class="collapsible-header">Episode 4</div>
                <div class="collapsible-body"><p class="white">Lorem ipsum dolor sit amet.</p></div>
            </li>
            <li>
                <div class="collapsible-header">Episode 5</div>
                <div class="collapsible-body"><p class="white">Lorem ipsum dolor sit amet.</p></div>
            </li>
            <li>
                <div class="collapsible-header">Episode 6</div>
                <div class="collapsible-body"><p class="white">Lorem ipsum dolor sit amet.</p></div>
            </li>
            <li>
                <div class="collapsible-header">Episode 7</div>
                <div class="collapsible-body"><p class="white">Lorem ipsum dolor sit amet.</p></div>
            </li>
        </ul>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.parallax').parallax();
    });
</script>